Django==5.1.15
gunicorn
django-environ
django-widget-tweaks
django-formtools
django-qrcode
google-genai
groq
langchain-core
langchain-groq
PyPDF2
pdfkit
pdfplumber
pillow
requests
markdown
markdown2
qrcode
whitenoise
